{% extends "layout.html" %}

{% block content %}
    <h1>New Quiz Wizard</h1>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <p>
            {{ form.ques.label }}<br>
            {{ form.ques(size=32) }}<br>
            {{ form.A_ques.label }}<br>
            {{ form.A_ques(size=16) }}<br>
            {{ form.B_ques.label }}<br>
            {{ form.B_ques(size=16) }}<br>
            {{ form.C_ques.label }}<br>
            {{ form.C_ques(size=16) }}<br>
            {{ form.D_ques.label }}<br>
            {{ form.D_ques(size=16) }}<br>
            {{ form.answ.label }}<br>
            {{ form.answ(size=16) }}<br>
        </p>            
        <p>{{ form.submit() }}</p>
        <p>{{ form.nxt() }}</p>
    </form>
{% endblock %}